<div class="chart-wrapper">
    <div class="chart-container">
        <canvas baseChart [data]="chartData" [options]="chartOptions" [type]="'candlestick'">
        </canvas>
    </div>

    <!-- Overlay footer -->
    <div class="chart-footer">
        <!-- Symbol Selector -->
        <mat-form-field appearance="outline">
            <mat-select [value]="selectedSymbol" (selectionChange)="onSymbolChange($event.value)">
                <mat-option *ngFor="let s of symbols" [value]="s.SymbolName">
                    {{ s.SymbolName }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <!-- Timeframe Selector -->
        <mat-form-field appearance="outline">
            <mat-select [value]="selectedTimeframe" (selectionChange)="onTimeframeChange($event.value)">
                <mat-option *ngFor="let tf of availableTimeframes" [value]="tf">
                    {{ tf }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <!-- Checkbox for Boxes -->
        <mat-checkbox [(ngModel)]="showBoxes" (change)="ensureOverlaysLoaded()">
            Boxes
        </mat-checkbox>
    </div>
</div>