<app-header>
  <div (click)="fetchData()" matRipple>
    <mat-icon color="primary">refresh</mat-icon>
    <h3 class="mat-label-large">Vernieuwen</h3>
  </div>
  <div (click)="onRefreshClick()" matRipple>
    @switch (signalRService.connectionState$ | async) {
      @case ('Connected') {
        <mat-icon color="primary">cloud_done</mat-icon>
        <h3 class="mat-label-large">Verbonden</h3>
      }
      @case ('Reconnecting') {
        <mat-icon color="warn">sync</mat-icon>
        <h3 class="mat-label-large">Verbinding maken...</h3>
      }
      @default {
        <mat-icon color="primary">cloud_off</mat-icon>
        <h3 class="mat-label-large">Verbinding verbroken</h3>
      }
    }
  </div>
  <button mat-raised-button color="primary" (click)="overridePosFinancial()">
    Initialiseer Terminal
  </button>
  <div class="flex-spacer"></div>
  <div (click)="logout()" matRipple>
    <mat-icon color="accent">logout</mat-icon>
    <h3 class="mat-label-large">Uitloggen</h3>
  </div>
</app-header>

<mat-sidenav-container class="sidenav-container">
  <nav #sidenav mode="side" opened>
    <mat-nav-list>
      <a mat-list-item (click)="navigateToPos()" [class.active-link]="isPosRoute"> Kassa </a>

      <a mat-list-item [routerLink]="['/time']" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }"> Tijd </a>

      <a mat-list-item [routerLink]="['/back-office']" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
        Backoffice
      </a>

      <a mat-list-item [routerLink]="['/prognose']" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
        Prognose
      </a>
    </mat-nav-list>
  </nav>
</mat-sidenav-container>

<main class="dashboard-container mat-typography">
  @if (isLoading) {
    <div class="loading-overlay">
      <mat-spinner></mat-spinner>
    </div>
  }
  @if (backOfficeOrder) {
    <div class="info-container">
      <mat-card class="shop-card">
        <mat-card-title> Algemene informatie </mat-card-title>
        <mat-card-content>
          <p>Klanten: {{ selectedShop.PosTerminalSummary.OrderCount }}</p>
          <p>Omzet: {{ selectedShop.PosTerminalSummary.AmountInclusive | currency: 'EUR' : 'symbol' : '1.2-2' : 'nl-NL' }}</p>
          <p>Kassa bonnen: {{ selectedShop.PosTerminalSummary.Transactions }}</p>
          <p>
            Gemiddelde besteding per klant:
            {{ averageSpending | currency: 'EUR' : 'symbol' : '1.2-2' : 'nl-NL' }}
          </p>
        </mat-card-content>
      </mat-card>

      <!-- Financieel overzicht -->
      <mat-card class="shop-card">
        <mat-card-title> Financieel overzicht </mat-card-title>
        <mat-card-content>
          <p>Aantal transaties: {{ selectedShop.PosTerminalSummary.TotalFinancialAmountSummary.OrderCount }}</p>
          <p>
            Inclusief bedrag:
            {{
              selectedShop.PosTerminalSummary.TotalFinancialAmountSummary.AmountInclusive | currency: 'EUR' : 'symbol' : '1.2-2' : 'nl-NL'
            }}
          </p>
          <p>
            Exclusief bedrag:
            {{
              selectedShop.PosTerminalSummary.TotalFinancialAmountSummary.AmountExclusive | currency: 'EUR' : 'symbol' : '1.2-2' : 'nl-NL'
            }}
          </p>
          <p>
            BTW:
            {{
              selectedShop.PosTerminalSummary.TotalFinancialAmountSummary.AmountFinancialVat
                | currency: 'EUR' : 'symbol' : '1.2-2' : 'nl-NL'
            }}
          </p>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="charts-container">
      <!-- Orders Diagram -->
      <div class="left-charts">
        <mat-card class="chart-card">
          <mat-card-content>
            <canvas id="test-chart"></canvas>
          </mat-card-content>
        </mat-card>

        <!-- Betalingen Diagram -->
        <mat-card class="chart-card">
          <mat-card-content>
            <canvas id="payment-chart"></canvas>
          </mat-card-content>
        </mat-card>
      </div>

      <!-- Orders per Uur Diagram -->
      <mat-card class="chart-card large-chart">
        <mat-card-content>
          <canvas id="bar-chart"></canvas>
        </mat-card-content>
      </mat-card>
    </div>
  }

  <!-- Verkochte artikelen -->
  @if (backOfficeOrder) {
    <mat-card class="table-card">
      <mat-card-title>Samenvatting verkochte artikelen</mat-card-title>
      <mat-card-content>
        <div class="table-wrapper">
          <table mat-table [dataSource]="itemsSoldDataSource" matSort class="mat-elevation-z8">
            <!-- Description Column -->
            <ng-container matColumnDef="Description">
              <th mat-header-cell *matHeaderCellDef mat-sort-header="Description">Omschrijving</th>
              <td mat-cell *matCellDef="let item">{{ item.Description }}</td>
            </ng-container>

            <!-- Number Column -->
            <ng-container matColumnDef="Number">
              <th mat-header-cell *matHeaderCellDef mat-sort-header="Number">Nummer</th>
              <td mat-cell *matCellDef="let item">{{ item.Number }}</td>
            </ng-container>

            <!-- Quantity Column -->
            <ng-container matColumnDef="Quantity">
              <th mat-header-cell *matHeaderCellDef mat-sort-header="Quantity">Aantal</th>
              <td mat-cell *matCellDef="let item">{{ item.Quantity }} pcs</td>
            </ng-container>

            <!-- Price Column -->
            <ng-container matColumnDef="Price">
              <th mat-header-cell *matHeaderCellDef mat-sort-header="Price">Prijs (per stuk)</th>
              <td mat-cell *matCellDef="let item">{{ item.AmountInclusiveSingular | currency: 'EUR' : 'symbol' : '1.2-2' : 'nl-NL' }}</td>
            </ng-container>

            <!-- Price Exclusive Column -->
            <ng-container matColumnDef="PriceExclusive">
              <th mat-header-cell *matHeaderCellDef mat-sort-header="PriceExclusive">Prijs (Exclusief)</th>
              <td mat-cell *matCellDef="let item">{{ item.AmountExclusiveSingular | currency: 'EUR' : 'symbol' : '1.2-2' : 'nl-NL' }}</td>
            </ng-container>

            <ng-container matColumnDef="TotalPrice">
              <th mat-header-cell *matHeaderCellDef mat-sort-header="TotalPrice">Totaalprijs</th>
              <td mat-cell *matCellDef="let item">
                {{ item.AmountInclusive | currency: 'EUR' : 'symbol' : '1.2-2' : 'nl-NL' }}
              </td>
            </ng-container>

            <!-- Quantities Prognose Column -->
            <ng-container matColumnDef="Prognose">
              <th mat-header-cell *matHeaderCellDef mat-sort-header="Prognose">Prognose</th>
              <td mat-cell *matCellDef="let item">{{ item.Quantities.Prognose }}</td>
            </ng-container>

            <!-- Quantities Sales Column -->
            <ng-container matColumnDef="Sales">
              <th mat-header-cell *matHeaderCellDef mat-sort-header="Sales">Verkoop</th>
              <td mat-cell *matCellDef="let item">{{ item.Quantities.Sales }}</td>
            </ng-container>

            <!-- Quantities InOrder Column -->
            <ng-container matColumnDef="InOrder">
              <th mat-header-cell *matHeaderCellDef mat-sort-header="InOrder">InOrder</th>
              <td mat-cell *matCellDef="let item">{{ item.Quantities.InOrder }}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumnsItems"></tr>
            <tr
              mat-row
              *matRowDef="let row; columns: displayedColumnsItems"
              (click)="onRowClick(row)"
              [class.row-is-clicked]="clickedRows.has(row)"
            ></tr>
          </table>
        </div>
      </mat-card-content>
    </mat-card>

    <!-- Items - sold no -->
    <mat-card class="table-card">
      <mat-card-title>Overzicht niet beschikbare artikelen</mat-card-title>
      <mat-card-content>
        <div class="table-wrapper">
          <table mat-table [dataSource]="stockAlertDataSource" matSort class="mat-elevation-z8">
            <!-- Description Column -->
            <ng-container matColumnDef="Description">
              <th mat-header-cell *matHeaderCellDef mat-sort-header="Description">Omschrijving</th>
              <td mat-cell *matCellDef="let alert">{{ alert.Description }}</td>
            </ng-container>

            <!-- Number Column -->
            <ng-container matColumnDef="Number">
              <th mat-header-cell *matHeaderCellDef mat-sort-header="Number">Nummer</th>
              <td mat-cell *matCellDef="let alert">{{ alert.Number }}</td>
            </ng-container>

            <!-- Quantity Column -->
            <ng-container matColumnDef="Quantity">
              <th mat-header-cell *matHeaderCellDef mat-sort-header="Quantity">Aantal</th>
              <td mat-cell *matCellDef="let alert">{{ alert.Quantity }} pcs</td>
            </ng-container>

            <!-- Price Column -->
            <ng-container matColumnDef="Price">
              <th mat-header-cell *matHeaderCellDef mat-sort-header="Price">Prijs (per stuk)</th>
              <td mat-cell *matCellDef="let alert">{{ alert.AmountInclusive | currency: 'EUR' : 'symbol' : '1.2-2' : 'nl-NL' }}</td>
            </ng-container>

            <!-- Price Exclusive Column -->
            <ng-container matColumnDef="PriceExclusive">
              <th mat-header-cell *matHeaderCellDef mat-sort-header="PriceExclusive">Prijs (Exclusief)</th>
              <td mat-cell *matCellDef="let alert">{{ alert.PriceExclusive | currency: 'EUR' : 'symbol' : '1.2-2' : 'nl-NL' }}</td>
            </ng-container>

            <ng-container matColumnDef="TotalPrice">
              <th mat-header-cell *matHeaderCellDef mat-sort-header="TotalPrice">Totaalprijs</th>
              <td mat-cell *matCellDef="let item">
                {{ item.Quantity * item.Price | currency: 'EUR' : 'symbol' : '1.2-2' : 'nl-NL' }}
              </td>
            </ng-container>

            <!-- Stock Alert Column -->
            <ng-container matColumnDef="StockAlert">
              <th mat-header-cell *matHeaderCellDef mat-sort-header="StockAlert">Niet beschikbaar</th>
              <td mat-cell *matCellDef="let alert">{{ alert.StockAlert }}</td>
            </ng-container>

            <!-- Header & Row Definitions -->
            <tr mat-header-row *matHeaderRowDef="displayedStockAlertColumns"></tr>
            <tr
              mat-row
              *matRowDef="let row; columns: displayedStockAlertColumns"
              (click)="onRowClick(row)"
              [class.row-is-clicked]="clickedRows.has(row)"
            ></tr>
          </table>
        </div>
      </mat-card-content>
    </mat-card>
  }
</main>
