<mat-card class="dashboard-card">
  <mat-card-title>Settings - v 0.0.4</mat-card-title>
  <mat-card-content>
    <div class="form-container">
      <!-- Number Selector -->
      <mat-form-field appearance="outline">
        <mat-label>Select exchange</mat-label>
        <mat-select
          [(value)]="selectedExchange"
          (selectionChange)="exchangeChange($event.value)"
        >
          <mat-option *ngFor="let n of exchanges" [value]="n">
            {{ n.Name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Currency Selector -->
      <mat-form-field appearance="outline">
        <mat-label>Select currency</mat-label>
        <mat-select
          [(value)]="selectedCurrency"
          (selectionChange)="currencyChange($event.value)"
        >
          <mat-option *ngFor="let c of currencies" [value]="c">
            {{ c }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </mat-card-content>
</mat-card>
