:host {
  display: grid;
  height: 100vh;
  width: 100vw;

  grid-template-columns: 100px auto;
  grid-template-rows: auto 1fr max-content 1fr auto;
  grid-template-areas:
    'hd hd'
    'sb ct'
    'sb ct'
    'sb ct'
    'sb ft';
}

app-pos-header {
  grid-area: hd;
}

.left-menu {
  grid-area: sb;
  background-color: var(--mat-autocomplete-background-color);
  border-right: 1px solid var(--sys-outline);
}

.content {
  grid-area: ct;
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex: 1;
  background-color: var(--sys-surface);
  color: var(--sys-on-surface);
}

app-footer {
  grid-area: ft;
}

.leftMenu {
  width: 100px;
  height: 800px;
  background-color: var(--sys-primary-container);
  color: var(--sys-on-primary-container);
}
