:root.dark-green {
    --sys-background: #101510;
    --sys-on-background: #dfe4dc;
    --sys-surface: #101510;
    --sys-surface-dim: #101510;
    --sys-surface-bright: #353a35;
    --sys-surface-container-lowest: #0a0f0b;
    --sys-surface-container-low: #181d18;
    --sys-surface-container: #1c211c;
    --sys-surface-container-high: #262b26;
    --sys-surface-container-highest: #313631;
    --sys-on-surface: #dfe4dc;
    --sys-surface-variant: #414941;
    --sys-on-surface-variant: #c1c9be;
    --sys-inverse-surface: #dfe4dc;
    --sys-inverse-on-surface: #2d322d;
    --sys-outline: #8b938a;
    --sys-outline-variant: #414941;
    --sys-shadow: #000000;
    --sys-scrim: #000000;
    --sys-surface-tint: #99d4a3;
    --sys-primary: #99d4a3;
    --sys-on-primary: #003919;
    --sys-primary-container: #17512b;
    --sys-on-primary-container: #b4f1be;
    --sys-inverse-primary: #326941;
    --sys-secondary: #99d4a3;
    --sys-on-secondary: #003919;
    --sys-secondary-container: #17512b;
    --sys-on-secondary-container: #b4f1be;
    --sys-tertiary: #83d2e3;
    --sys-on-tertiary: #00363e;
    --sys-tertiary-container: #004e5a;
    --sys-on-tertiary-container: #a2eeff;
    --sys-error: #ffb4ab;
    --sys-on-error: #561e19;
    --sys-error-container: #73342d;
    --sys-on-error-container: #ffdad5;
    --sys-neutral: #737872;
    --sys-neutral-variant: #717970;
    --sys-primary-fixed: #b4f1be;
    --sys-primary-fixed-dim: #99d4a3;
    --sys-on-primary-fixed: #00210c;
    --sys-on-primary-fixed-variant: #17512b;
    --sys-secondary-fixed: #b4f1be;
    --sys-secondary-fixed-dim: #99d4a3;
    --sys-on-secondary-fixed: #00210c;
    --sys-on-secondary-fixed-variant: #17512b;
    --sys-tertiary-fixed: #a2eeff;
    --sys-tertiary-fixed-dim: #83d2e3;
    --sys-on-tertiary-fixed: #001f25;
    --sys-on-tertiary-fixed-variant: #004e5a;
    --sys-inverse-secondary: #326941;
    --sys-inverse-tertiary: #006877;
    --sys-inverse-error: #904a43;
    --sys-error-fixed: #ffdad5;
    --sys-error-fixed-dim: #ffb4ab;
    --sys-on-error-fixed: #3b0907;
    --sys-on-error-fixed-variant: #73342d;
}