:root,
:host {
    --sys-background: #f6fbf3;
    --sys-on-background: #181d18;
    --sys-surface: #f6fbf3;
    --sys-surface-dim: #d7dbd4;
    --sys-surface-bright: #f6fbf3;
    --sys-surface-container-lowest: #ffffff;
    --sys-surface-container-low: #f0f5ed;
    --sys-surface-container: #ebefe8;
    --sys-surface-container-high: #e5eae2;
    --sys-surface-container-highest: #dfe4dc;
    --sys-on-surface: #181d18;
    --sys-surface-variant: #dde5da;
    --sys-on-surface-variant: #326941;
    --sys-inverse-surface: #2d322d;
    --sys-inverse-on-surface: #edf2ea;
    --sys-outline: #717970;
    --sys-outline-variant: #c1c9be;
    --sys-shadow: #000000;
    --sys-scrim: #000000;
    --sys-surface-tint: #326941;
    --sys-primary: #326941;
    --sys-on-primary: #ffffff;
    --sys-primary-container: #b4f1be;
    --sys-on-primary-container: #00210c;
    --sys-inverse-primary: #99d4a3;
    --sys-secondary: #326941;
    --sys-on-secondary: #ffffff;
    --sys-secondary-container: #b4f1be;
    --sys-on-secondary-container: #00210c;
    --sys-tertiary: #006877;
    --sys-on-tertiary: #ffffff;
    --sys-tertiary-container: #a2eeff;
    --sys-on-tertiary-container: #001f25;
    --sys-error: #ff0000;
    --sys-on-error: #ffffff;
    --sys-error-container: #ffdad5;
    --sys-on-error-container: #3b0907;
    --sys-neutral: #737872;
    --sys-neutral-variant: #717970;
    --sys-primary-fixed: #b4f1be;
    --sys-primary-fixed-dim: #99d4a3;
    --sys-on-primary-fixed: #00210c;
    --sys-on-primary-fixed-variant: #17512b;
    --sys-secondary-fixed: #b4f1be;
    --sys-secondary-fixed-dim: #99d4a3;
    --sys-on-secondary-fixed: #00210c;
    --sys-on-secondary-fixed-variant: #17512b;
    --sys-tertiary-fixed: #a2eeff;
    --sys-tertiary-fixed-dim: #83d2e3;
    --sys-on-tertiary-fixed: #001f25;
    --sys-on-tertiary-fixed-variant: #004e5a;
    --sys-inverse-secondary: #99d4a3;
    --sys-inverse-tertiary: #83d2e3;
    --sys-inverse-error: #ff0000;;
    --sys-error-fixed: #ff0000;;
    --sys-error-fixed-dim: #ff0000;;
    --sys-on-error-fixed: #ff0000;;
    --sys-on-error-fixed-variant: #ff0000;;
}