<header class="app-header" [style.background-color]="headerColor || 'var(--sys-primary-container)'">
  <ng-content></ng-content>
  <button class="theme-toggle" (click)="toggleTheme()" aria-label="Toggle theme">
    <svg class="icon" viewBox="0 0 24 24">
      <use href="#theme-light-dark"></use>
    </svg>
      DARK
  </button>
  <div class="flex-spacer"></div>
  <div (click)="logout()" matRipple>
    <mat-icon color="accent">logout</mat-icon>
    <h3 class="mat-label-large">Uitloggen</h3>
  </div>
</header>