.app-header {
  // width: 100%;
  background-color: var(--sys-primary-container); // fallback if [style.background-color] is not set
  color: var(--sys-secondary);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
