<div class="watchlist-container">
    <button mat-button (click)="back()">back</button>
    <button mat-button (click)="refresh()">refresh</button>

    <mat-card *ngFor="let item of watchlist" class="watchlist-row-card">
        <div class="row-top">
            <span class="symbol">{{ item.Symbol }}</span>
            <span class="timeframe">{{ item.Timeframe }}</span>
        </div>

        <div class="row-bottom">
            <mat-chip-listbox class="chip-list">
                <mat-chip>{{ item.Status }}</mat-chip>
                <mat-chip [ngClass]="item.Direction.toLowerCase()">{{ item.Direction }}</mat-chip>
            </mat-chip-listbox>

            <span class="created">{{ item.CreatedAt | date:'HH:mm' }}</span>

            <!-- <button mat-icon-button color="warn" (click)="remove(item)">
                <mat-icon>close</mat-icon>
            </button> -->
        </div>
    </mat-card>
</div>