<footer class="app-footer">
  <button mat-button (click)="navigate('chartSimple')">
    <mat-icon>shopping_cart</mat-icon>
    <span>TEST</span>
  </button>

  <button mat-button (click)="navigate('orders')">
    <mat-icon>shopping_cart</mat-icon>
    <span>Orders</span>
  </button>

  <button mat-button (click)="navigate('watchlist')">
    <mat-icon>visibility</mat-icon>
    <span>Watchlist</span>
  </button>
  <!-- 
    <button mat-button (click)="showNotification()">
        <mat-icon>notifications</mat-icon>
        <span>Notify</span>
    </button> -->

  <button mat-button (click)="navigate('dashboard')">
    <mat-icon>settings</mat-icon>
    <span>Settings</span>
  </button>

  <!-- <button mat-button (click)="navigate('chartTest')">
    <mat-icon>bar_chart</mat-icon>
    <span>Chart</span>
  </button> -->
  <!-- 
    <button mat-stroked-button color="primary" (click)="checkForUpdates()">
        <mat-icon>update</mat-icon>
        <span>Update</span>
    </button> -->
</footer>
