<mat-nav-list>
  <a mat-list-item [routerLink]="['/pos', 'items-view']" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
    Kassa
  </a>

  <a mat-list-item [routerLink]="['/time']" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }"> Tijd </a>

  <a mat-list-item [routerLink]="['/back-office']" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
    Backoffice
  </a>

  <a mat-list-item [routerLink]="['/prognose']" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
    Prognose
  </a>
</mat-nav-list>
