:root.dark-blue
 {
    --sys-background: #101418;
    --sys-on-background: #e0e2e8;
    --sys-surface: #101418;
    --sys-surface-dim: #101418;
    --sys-surface-bright: #36393e;
    --sys-surface-container-lowest: #0b0f12;
    --sys-surface-container-low: #181c20;
    --sys-surface-container: #1c2024;
    --sys-surface-container-high: #272a2f;
    --sys-surface-container-highest: #323539;
    --sys-on-surface: #e0e2e8;
    --sys-surface-variant: #43474e;
    --sys-on-surface-variant: #c3c6cf;
    --sys-inverse-surface: #e0e2e8;
    --sys-inverse-on-surface: #2d3135;
    --sys-outline: #8d9199;
    --sys-outline-variant: #43474e;
    --sys-shadow: #000000;
    --sys-scrim: #000000;
    --sys-surface-tint: #9fcafc;
    --sys-primary: #9fcafc;
    --sys-on-primary: #003257;
    --sys-primary-container: #164974;
    --sys-on-primary-container: #d0e4ff;
    --sys-inverse-primary: #34618d;
    --sys-secondary: #a0cafd;
    --sys-on-secondary: #003258;
    --sys-secondary-container: #184975;
    --sys-on-secondary-container: #d1e4ff;
    --sys-tertiary: #dcb9f8;
    --sys-on-tertiary: #3f2358;
    --sys-tertiary-container: #573a70;
    --sys-on-tertiary-container: #f1daff;
    --sys-error: #ffb4ab;
    --sys-on-error: #561e19;
    --sys-error-container: #73342d;
    --sys-on-error-container: #ffdad5;
    --sys-neutral: #74777c;
    --sys-neutral-variant: #73777f;
    --sys-primary-fixed: #d0e4ff;
    --sys-primary-fixed-dim: #9fcafc;
    --sys-on-primary-fixed: #001d35;
    --sys-on-primary-fixed-variant: #164974;
    --sys-secondary-fixed: #d1e4ff;
    --sys-secondary-fixed-dim: #a0cafd;
    --sys-on-secondary-fixed: #001d36;
    --sys-on-secondary-fixed-variant: #184975;
    --sys-tertiary-fixed: #f1daff;
    --sys-tertiary-fixed-dim: #dcb9f8;
    --sys-on-tertiary-fixed: #290c41;
    --sys-on-tertiary-fixed-variant: #573a70;
    --sys-inverse-secondary: #35618e;
    --sys-inverse-tertiary: #705289;
    --sys-inverse-error: #904a43;
    --sys-error-fixed: #ffdad5;
    --sys-error-fixed-dim: #ffb4ab;
    --sys-on-error-fixed: #3b0907;
    --sys-on-error-fixed-variant: #73342d;
}