:root.light-blue {
    --sys-background: #f7f9ff;
    --sys-on-background: #181c20;
    --sys-surface: #f7f9ff;
    --sys-surface-dim: #d8dae0;
    --sys-surface-bright: #f7f9ff;
    --sys-surface-container-lowest: #ffffff;
    --sys-surface-container-low: #f1f3f9;
    --sys-surface-container: #eceef3;
    --sys-surface-container-high: #e6e8ee;
    --sys-surface-container-highest: #e0e2e8;
    --sys-on-surface: #181c20;
    --sys-surface-variant: #dfe2eb;
    --sys-on-surface-variant: #43474e;
    --sys-inverse-surface: #2d3135;
    --sys-inverse-on-surface: #eff1f6;
    --sys-outline: #73777f;
    --sys-outline-variant: #c3c6cf;
    --sys-shadow: #000000;
    --sys-scrim: #000000;
    --sys-surface-tint: #34618d;
    --sys-primary: #34618d;
    --sys-on-primary: #ffffff;
    --sys-primary-container: #d0e4ff;
    --sys-on-primary-container: #001d35;
    --sys-inverse-primary: #9fcafc;
    --sys-secondary: #35618e;
    --sys-on-secondary: #ffffff;
    --sys-secondary-container: #d1e4ff;
    --sys-on-secondary-container: #001d36;
    --sys-tertiary: #705289;
    --sys-on-tertiary: #ffffff;
    --sys-tertiary-container: #f1daff;
    --sys-on-tertiary-container: #290c41;
    --sys-error: #ff0000;;
    --sys-on-error: #ffffff;
    --sys-error-container: #ffdad5;
    --sys-on-error-container: #3b0907;
    --sys-neutral: #74777c;
    --sys-neutral-variant: #73777f;
    --sys-primary-fixed: #d0e4ff;
    --sys-primary-fixed-dim: #9fcafc;
    --sys-on-primary-fixed: #001d35;
    --sys-on-primary-fixed-variant: #164974;
    --sys-secondary-fixed: #d1e4ff;
    --sys-secondary-fixed-dim: #a0cafd;
    --sys-on-secondary-fixed: #001d36;
    --sys-on-secondary-fixed-variant: #184975;
    --sys-tertiary-fixed: #f1daff;
    --sys-tertiary-fixed-dim: #dcb9f8;
    --sys-on-tertiary-fixed: #290c41;
    --sys-on-tertiary-fixed-variant: #573a70;
    --sys-inverse-secondary: #a0cafd;
    --sys-inverse-tertiary: #dcb9f8;
    --sys-inverse-error: #ff0000;;
    --sys-error-fixed: #ff0000;;
    --sys-error-fixed-dim: #ff0000;;
    --sys-on-error-fixed: #ff0000;;
    --sys-on-error-fixed-variant: #ff0000;;
}