:root.light-purple {
    --sys-background: #fcf8ff;
    --sys-on-background: #1b1b21;
    --sys-surface: #fcf8ff;
    --sys-surface-dim: #dcd9e0;
    --sys-surface-bright: #fcf8ff;
    --sys-surface-container-lowest: #ffffff;
    --sys-surface-container-low: #f6f2fa;
    --sys-surface-container: #f0ecf4;
    --sys-surface-container-high: #eae7ef;
    --sys-surface-container-highest: #e5e1e9;
    --sys-on-surface: #1b1b21;
    --sys-surface-variant: #e4e1ec;
    --sys-on-surface-variant: #47464f;
    --sys-inverse-surface: #313036;
    --sys-inverse-on-surface: #f3eff7;
    --sys-outline: #787680;
    --sys-outline-variant: #c8c5d0;
    --sys-shadow: #000000;
    --sys-scrim: #000000;
    --sys-surface-tint: #5c5891;
    --sys-primary: #5c5891;
    --sys-on-primary: #ffffff;
    --sys-primary-container: #e3dfff;
    --sys-on-primary-container: #18124a;
    --sys-inverse-primary: #c5c0ff;
    --sys-secondary: #5b5891;
    --sys-on-secondary: #ffffff;
    --sys-secondary-container: #e3dfff;
    --sys-on-secondary-container: #17124a;
    --sys-tertiary: #874b6c;
    --sys-on-tertiary: #ffffff;
    --sys-tertiary-container: #ffd8e9;
    --sys-on-tertiary-container: #380727;
    --sys-error: #ff0000;
    --sys-on-error: #ffffff;
    --sys-error-container: #ffdad5;
    --sys-on-error-container: #3b0907;
    --sys-neutral: #78767d;
    --sys-neutral-variant: #787680;
    --sys-primary-fixed: #e3dfff;
    --sys-primary-fixed-dim: #c5c0ff;
    --sys-on-primary-fixed: #18124a;
    --sys-on-primary-fixed-variant: #444078;
    --sys-secondary-fixed: #e3dfff;
    --sys-secondary-fixed-dim: #c4c0ff;
    --sys-on-secondary-fixed: #17124a;
    --sys-on-secondary-fixed-variant: #434078;
    --sys-tertiary-fixed: #ffd8e9;
    --sys-tertiary-fixed-dim: #fcb0d6;
    --sys-on-tertiary-fixed: #380727;
    --sys-on-tertiary-fixed-variant: #6c3454;
    --sys-inverse-secondary: #c4c0ff;
    --sys-inverse-tertiary: #fcb0d6;
    --sys-inverse-error: #ff0000;
    --sys-error-fixed: #ff0000;
    --sys-error-fixed-dim: #ff0000;
    --sys-on-error-fixed: #ff0000;
    --sys-on-error-fixed-variant: #ff0000;
}